@page "/patients/delete"
@attribute [Authorize(Roles = "Patient")]
@inherits CancellableComponent
@inject IPatientService PatientService
@inject AuthenticationStateHelper AuthHelper
@inject NavigationManager Navigator

<p>Do you really want to delete? Data will be lost.</p>
<button @onclick="DeleteAsync">Yes</button>
<button @onclick="Cancel">No</button>

@code
{
    private async Task DeleteAsync()
    {
        var email = await AuthHelper.GetEmailAsync();
        var patient = await PatientService.GetByEmailAsync(email, _cts.Token);
        await PatientService.DeleteAsync(patient.Id, _cts.Token);
        Navigator.NavigateTo("/");
    }
    private void Cancel()
    {
        Navigator.NavigateTo("/");
    }
}