<div class="row mb-3 align-items-center border">
    <div class="col">
        <p>Name: @Manager.Name</p>
        <p>Price: @Manager.Price</p>
    </div>
    <div class="col">
        <p>Category: @Manager.CategoryName</p>
        <p>IsActive: @Manager.Status</p>
    </div>
</div>
@code {
    [Parameter] public CreateServiceModel Manager { get; set; }
}
