@page "/doctors/{DoctorId:guid}"
@inherits CancellableComponent

@inject NavigationManager NavigationManager
@inject IDoctorManager DoctorManager;
@inject IServiceManager ServiceManager;

@if (doctor != null)
{
    <DoctorCard Doctor="doctor" />
    <AuthorizeView Roles="Patient">
        <Authorized>
            <input type="button" class="btn btn-info" value=@_localizer.GetString(LocalizationType.MakeAppointmentWithDoctorText)
               @onclick="ToCreateAppointmentPage" />
        </Authorized>
    </AuthorizeView>
    @if (Services != null)
    {
        <div class="container p-5 text-center">
            <h2>@_localizer.GetString(LocalizationType.ProvidedServicesText)</h2>
            @if (Services.Count() == 0)
            {
                <h1>@_localizer.GetString(LocalizationType.ServicesNotFoundText)</h1>
            }
            else
            {

                @foreach (var service in Services)
                {
                    <ServiceCard Service="service" />
                }

            }
        </div>
    }
    else
    {
        <Loading />
    }
}
else
{
    <Loading/>
}

