@page "/receptionists/delete"
@attribute [Authorize(Roles = "Admin")]
@inherits CancellableComponent
@inject IReceptionistManager ReceptionistManager
@inject AuthenticationStateHelper AuthHelper
@inject NavigationManager Navigator

<p>@_localizer.GetString(LocalizationType.AccountDeleteText)</p>
<button @onclick="DeleteAsync">@_localizer.GetString(LocalizationType.AgreeButtonValue)</button>
<button @onclick="Cancel">@_localizer.GetString(LocalizationType.DisagreeButtonValue)</button>

@code
{
    private async Task DeleteAsync()
    {
        var email = await AuthHelper.GetEmailAsync();
        var receptionist = await ReceptionistManager.GetByEmailAsync(email, _cts.Token);
        await ReceptionistManager.DeleteAsync(receptionist.Id, _cts.Token);
        Navigator.NavigateTo("/");
    }
    private void Cancel()
    {
        Navigator.NavigateTo("/");
    }
}