@page "/receptionists/delete"
@attribute [Authorize(Roles = "Admin")]
@inherits CancellableComponent
@inject IReceptionistManager ReceptionistManager
@inject AuthenticationStateHelper AuthHelper
@inject NavigationManager Navigator

<p>Do you really want to delete? Data will be lost.</p>
<MudButton OnClick="DeleteAsync" Color="Color.Error" Variant="Variant.Filled">Yes</MudButton>
<MudButton OnClick="Cancel" Color="Color.Primary" Variant="Variant.Filled">No</MudButton>

@code
{
    private async Task DeleteAsync()
    {
        var email = await AuthHelper.GetEmailAsync();
        var receptionist = await ReceptionistManager.GetByEmailAsync(email, _cts.Token);
        await ReceptionistManager.DeleteAsync(receptionist.Id, _cts.Token);
        Navigator.NavigateTo("/");
    }
    private void Cancel()
    {
        Navigator.NavigateTo("/");
    }
}