@inherits CancellableComponent

@if (Receptionist.Info.Photo != null)
{
    <ImageFromByteArray Image="Receptionist.Info.Photo.Content" ImageType="Receptionist.Info.Photo.ContentType" IsSvgImage="false" height="200" />
}
<p>@Receptionist.Info.GetFullName()</p>
@if (Receptionist.Office != null)
{
    <p>@Receptionist.Office.Address</p>
}
else
{
    <p>Не назначен в офис.</p>
}

@if (ChildContent != null)
{
    @ChildContent
}

@code {
    [Parameter] public ReceptionistDTO Receptionist { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
