@inject IImageService imageService
@inject IOfficeService officeService
@inherits CancellableComponent

@if (image != null)
{
    <ImageFromByteArray Image="image.Content" ImageType="image.ContentType" IsSvgImage="false" height="200" />
}
<p>@Receptionist.Info.GetFullName()</p>
@if (Receptionist.Office != null)
{
    @if (office != null)
    {
        <p>@office.Address</p>
    }
    else
    {
        <Loading />
    }
}
else
{
    <p>Не назначен в офис.</p>
}

@if (ChildContent != null)
{
    @ChildContent
}

@code {
    [Parameter] public Receptionist Receptionist { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    private Image? image;
    private Office? office;
    protected async override Task OnInitializedAsync()
    {
        @if (Receptionist.Office != null)
        {
            office = await officeService.GetByIdAsync(Receptionist.Office.Id, _cts.Token);
        }
        if (Receptionist.Info.Photo != null)
        {
            image = await imageService.GetAsync(Receptionist.Info.Photo.Name, _cts.Token);
        }
    }
}
