@inherits CancellableComponent

<MudPaper Square Elevation=3 Class="row p-5 mb-3">
    @if (Receptionist != null)
    {
        if (Receptionist.Info.Photo != null)
        {
            <div class="col">
                @if (_image != null)
                {
                    <ImageFromByteArray Image="_image.Content" ImageType="_image.ContentType" IsSvgImage="false" height="200" />
                }
                else
                {
                    <Loading />
                }
            </div>
        }
        <div class="col">
            <p>Full name: @Receptionist.Info.GetFullName()</p>
            <p>
                Office:
                @if (Receptionist.Office != null)
                {
                        @Receptionist.Office.Address
                }
                else
                {
                    <span>Have not provided Office.</span>
                }
            </p>
        </div>
        @if (ChildContent != null)
        {
            @ChildContent
        }
    }
</MudPaper>

@code {
    [Parameter] public ReceptionistDTO Receptionist { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    private Image? _image;
    protected async override Task OnInitializedAsync()
    {
        if (Receptionist is not null)
        {
            _image = Receptionist.Info.Photo != null ? await Receptionist.Info.Photo : null;
        }
    }
}
