@page "/receptionists/home"
@attribute [Authorize(Roles = "Admin")]
@inherits CancellableComponent
@if(Receptionist != null)
{
    <ReceptionistCard Receptionist="Receptionist"/>
    <button @onclick="NavigateToEditPage" class="btn btn-info">@_localizer.GetString(LocalizationType.EditButtonValue)</button>
    <button @onclick="NavigateToDeletePage" class="btn btn-danger">@_localizer.GetString(LocalizationType.DeleteButtonValue)</button>
}
else
{
    <Loading/>
}