@inherits CancellableComponent
<AuthorizeView Roles="Admin">
    <Authorized Context="editRole">
        <div class="col">
            @if (IsLoading)
            {
                <Loading />
            }
            else
            {

                @if (IsRoleChanges)
                {
                    <EditForm Model="@ChangeRoleData" OnValidSubmit="ChangeAsync" class="form">
                        <div class="row">
                            <div class="col p-2">
                                <FormInputSelect Label="Role" Id="role" @bind-Value="ChangeRoleData.Role" Values="Roles"
                                                 GetLabelHandler="@(x => x)" GetValueHandler="@(x => x)" />
                            </div>
                        </div>
                        <MudButton Color="Color.Primary" Variant=Variant.Filled ButtonType=ButtonType.Submit>
                            Edit
                        </MudButton>
                    </EditForm>
                }
                else
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="StartChanging" Class="w-100">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" />
                        <span class="ml-2">
                            Edit role
                        </span>
                    </MudButton>
                }

            }
        </div>
    </Authorized>
</AuthorizeView>


