@page "/login"
@inherits CancellableComponent

<PageTitle>Login</PageTitle>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Enter zone</h1>
        <p class="text-danger">@ErrorMessage</p>
        <EditForm Model="@LoginData" OnValidSubmit="LoginAsync">
            <FluentValidationValidator DisableAssemblyScanning=@true />
            <ValidationSummary />
            <FormInputText Label="Email" Id="email" @bind-Value="@LoginData.Email" />
            <FormInputText Label="Password" Id="password" type="password" @bind-Value="@LoginData.Password" />
            @if (!IsLoading)
            {
                <div class="row">
                    <div class="col-md-6 offset-md-4">
                        <input type="submit" class="btn btn-primary" value="Войти" />
                    </div>
                </div>
            }
            else
            {
                <Loading />
            }
        </EditForm>
    </div>
</div>
