﻿<div class="text-center">
    <div>
        <p>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </p>
    </div>
</div>
