

@inherits CancellableComponent
@inject IAppointmentService AppointmentService
@attribute [Authorize(Roles = "Admin")]

<div class="col m-3">
    @if (IsLoading)
    {
        <Loading />
    }
    else
    {
        <AuthorizeView Roles="Admin">
            <Authorized Context="editDate">
                @if (IsDateChanges)
                {
                    <input type="button" class="btn btn-success w-100" value="Подтвердить" @onclick="ChangeAsync" />
                    <input type="button" class="btn btn-danger w-100" value="Отмена" @onclick="StopChanging" />
                }
                else
                {
                    <input type="button" class="btn btn-danger w-100" value="Удалить" @onclick="StartChanging" />
                }
            </Authorized>
        </AuthorizeView>
    }
</div>

@code {
    [Parameter] public Guid AppointmentId { get; set; }
    [Parameter] public EventCallback OnAppointmentCanceled { get; set; }

    private bool IsDateChanges { get; set; }
    private bool IsLoading { get; set; } = false;

    private void StartChanging()
    {
        IsDateChanges = true;
    }
    private void StopChanging()
    {
        IsDateChanges = false;
    }
    private async Task ChangeAsync()
    {
        IsLoading = true;

        await AppointmentService.CancelAsync(AppointmentId, _cts.Token);
        await OnAppointmentCanceled.InvokeAsync();
        StopChanging();
        IsLoading = false;
    }
}
