@inherits CancellableComponent
@inject IAppointmentService AppointmentService
@attribute [Authorize(Roles = "Doctor,Admin")]

<div class="col m-3">
    @if (IsLoading)
    {
        <Loading />
    }
    else
    {
        <AuthorizeView Roles="Admin,Doctor">
            <Authorized Context="editDate">
                @if (IsDateChanges)
                {
                    <EditForm Model="@Data" OnValidSubmit="ChangeAsync" class="form">
                        <div class="row">
                            <div class="col p-2">
                                <FormInputDate Label="Дата" Id="date" @bind-Value="Data.Date" />
                            </div>
                        </div>
                        <input type="submit" class="btn btn-success w-100" value="Изменить" />
                        <input type="button" class="btn btn-danger w-100" value="Отмена" @onclick="@StopChanging" />
                    </EditForm>
                }
                else
                {
                    <input type="button" class="btn-primary w-100" value="Изменить Дату" @onclick="StartChanging" />
                }
            </Authorized>
        </AuthorizeView>
    }
</div>

@code {
    [Parameter] public Appointment Appointment { get; set; }
    [Parameter] public EventCallback OnDateChanged { get; set; }

    private bool IsDateChanges { get; set; }
    private bool IsLoading { get; set; } = false;
    private ChangeDateData Data { get; set; }

    protected override void OnInitialized()
    {
        Data = new ChangeDateData() { Date = Appointment.Date.ToDateTime(Appointment.Time) };
    }

    private void StartChanging()
    {
        IsDateChanges = true;
    }
    private void StopChanging()
    {
        IsDateChanges = false;
    }
    private async Task ChangeAsync()
    {
        IsLoading = true;

        var rescheduleData = new RescheduleAppointmentModel(Appointment.Doctor.Id, DateOnly.FromDateTime(Data.Date), TimeOnly.FromDateTime(Data.Date));
        await AppointmentService.RescheduleAsync(Appointment.Id, rescheduleData, _cts.Token);
        await OnDateChanged.InvokeAsync();
        StopChanging();
        IsLoading = false;
    }
}
