@inject IStringLocalizer<Localization> _localizer 
@inherits CancellableComponent

@if (IsDateChanges)
{
    <label class="form-label">@QuestionLabel</label>
    <MudButton Color="Color.Success" Variant=Variant.Filled class="w-100 m-1" OnClick="SuccessAnswerAsync">
        @AgreeButtonValue
    </MudButton>
    <MudButton Color="Color.Error" Variant=Variant.Filled class="w-100 m-1" OnClick="StopChanging">
        @DisagreeButtonValue
    </MudButton>
}
else
{
    <MudButton Color="Color.Error" Variant=Variant.Filled class="w-100 m-1" OnClick="StartChanging">
        @PreviewButtonValue
    </MudButton>
}

@code {
    [Parameter] public EventCallback OnSuccessAnswerClicked { get; set; }
    [Parameter] public string PreviewButtonValue { get; set; } = "Edit";
    [Parameter] public string AgreeButtonValue { get; set; } = "Yes";
    [Parameter] public string DisagreeButtonValue { get; set; } = "No";
    [Parameter] public string QuestionLabel { get; set; } = "Are you sure?";

    private bool IsDateChanges { get; set; }
    private bool IsLoading { get; set; } = false;

    private void StartChanging()
    {
        IsDateChanges = true;
    }
    private void StopChanging()
    {
        IsDateChanges = false;
    }
    private async Task SuccessAnswerAsync()
    {
        IsLoading = true;
        await OnSuccessAnswerClicked.InvokeAsync();
        StopChanging();
        IsLoading = false;
    }
}
