@inherits InputSelect<bool?>

<div class="form-group mb-3">
    <MudSelect Label="@Label" id="@Id" @bind-Value="CurrentValue" @attributes=AdditionalAttributes>
        @if (Values != null)
        {
            @foreach (var value in Values)
            {
                <MudSelectItem Value="@value.Value">@value.Key</MudSelectItem>
            }
        }
        else
        {
            <Loading />
        }
    </MudSelect>
</div>

@code
{
    [Parameter] public string Label { get; set; }
    [Parameter] public string Id { get; set; } = "defaultId";

    [Parameter] public IDictionary<string, bool?> Values { get; set; }

    protected override void OnInitialized()
    {
        if (Values == null)
        {
            Values = new Dictionary<string, bool?>()
            {
                {"Approved", true},
                {"Not approved", false},
                {"All", null }
            };
        }
        base.OnInitialized();
    }
}