@typeparam TValue
@inherits InputNumber<TValue>

<div class="form-group mb-3">
    <MudNumericField id="@Id" Label="@Label" @attributes="AdditionalAttributes" @bind-Value="CurrentValue"/>
</div>

@code
{
    [Parameter] public string Label { get; set; }
    [Parameter] public string Id { get; set; }
}