@inherits InputDate<DateTime?>

<div class="form-group mb-1">
    <MudDatePicker id="Id" Label="@Label" @bind-Date=CurrentValue Mask="@(new DateMask("0000-00-00"))" DateFormat="yyyy-MM-dd" />
</div>

@code
{
    [Parameter] public string Label { get; set; }
    [Parameter] public string Id { get; set; }
}