@inherits InputText

<div class="form-group mb-3">
    @if(Id == "password")
    {
        <MudTextField id="@Id" InputType="InputType.Password" @bind-Value=CurrentValue Label="@Label" />

    }
    else
    {
        <MudTextField id="@Id" @bind-Value=CurrentValue Label="@Label" />
    }
</div>

@code
{
    [Parameter] public string Label { get; set; }
    [Parameter] public string Id { get; set; }
}