@inherits InputText

<div class="form-group mb-3">
    @if(Id == "password")
    {
        <MudTextField id="@Id" AutoGrow=AutoGrow Lines=Lines MaxLines=MaxLines InputType="InputType.Password" @bind-Value=CurrentValue Label="@Label" />

    }
    else
    {
        <MudTextField id="@Id" AutoGrow=AutoGrow Lines=Lines MaxLines=MaxLines @bind-Value=CurrentValue Label="@Label" />
    }
</div>

@code
{
    [Parameter] public string Label { get; set; }
    [Parameter] public string Id { get; set; }
    [Parameter] public bool AutoGrow { get; set; }
    [Parameter] public int Lines { get; set; }
    [Parameter] public int MaxLines { get; set; }
}