@typeparam TValue
@inherits InputDate<TValue>

<div class="form-group">
    @if (Label != null)
    {
        <label for="@Id" class="form-label">@Label</label>
    }
    <InputDate id="@Id" @attributes="AdditionalAttributes" @bind-Value="CurrentValue" class="form-control" />
</div>

@code
{
    [Parameter] public string Label { get; set; }
    [Parameter] public string Id { get; set; }
}