@inherits InputCheckbox

<div class="form-group mb-1">
    <InputCheckbox class="form-check-input" id="@Id" @attributes="AdditionalAttributes" @bind-Value="CurrentValue" />
    @if (Label != null)
    {
        <label for="@Id" class="form-label ml-2">@Label</label>
    }
</div>

@code
{
    [Parameter] public string Label { get; set; }
    [Parameter] public string Id { get; set; }
}