<div class="row mb-1">
    <div class="col text-center">
        @if (IsLoading)
        {

            <MudButton Color="Color.Primary" Disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </MudButton>
        }
        else
        {
            <MudButton ButtonType="ButtonType.Submit" Color=Color.Primary>
                @ButtonValue
            </MudButton>
        }
    </div>
</div>
@code
{
    [Parameter] public string ButtonValue { get; set; } = "Input";
    private bool IsLoading { get; set; } = false;

    public void StartLoading()
    {
        IsLoading = true;
        this.StateHasChanged();
    }

    public void StopLoading()
    {
        IsLoading = false;
        this.StateHasChanged();
    }
}