@inject IStringLocalizer<Localization> Loc
﻿
<div class="text-center">
    <div>
        <p>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            @Loc.GetString(LocalizationType.Loading)
        </p>
    </div>
</div>
