
@inject IStringLocalizer<Localization> Loc
﻿
﻿<div class=@($"text-center {Class}")>
    <div>
        <p>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            @Loc.GetString(LocalizationType.Loading)
        </p>
    </div>
</div>

@code {
    [Parameter] public string Class { get; set; }
}