@inherits InputBase<IFormFile>;

<div class="form-group row">
    <div class="col">
        <label class="form-label">@Title</label>
        <MudFileUpload T="IBrowserFile" FilesChanged="OnFileSelected" Accept=".jpeg,.jpg,.png">
            <ButtonTemplate>
                <MudFab HtmlTag="label"
                        Icon="@Icons.Material.Filled.Image"
                        Label="Load picture"
                        for="@context.Id" />
            </ButtonTemplate>
        </MudFileUpload>
    </div>
    @if (SelectedImageData != null)
    {
        <div class="col m-3">
            <ImageFromByteArray Image="SelectedImageData" height="100" />
        </div>
    }
</div>

@code {
    [Parameter] public string Title { get; set; } = "Photo";
    [Parameter] public byte[] SelectedImageData { get; set; }

    protected override bool TryParseValueFromString(string value, [MaybeNullWhen(false)] out IFormFile result, [NotNullWhen(false)] out string validationErrorMessage)
    {
        result = CurrentValue;
        validationErrorMessage = null;
        return true;
    }

    private async Task OnFileSelected(IBrowserFile file)
    {
        var stream = new MemoryStream();
        await file.OpenReadStream().CopyToAsync(stream);

        CurrentValue = new FormFile(stream, 0, file.Size, file.Name, file.Name + Guid.NewGuid().ToString());

        SelectedImageData = stream.ToArray();
        this.StateHasChanged();
    }
}
