@page "/patients/{PatientId:guid}/appointmentsHistory"
@using ClientsWebApp.Blazor.Pages.Identity
@using ClientsWebApp.Domain;
@inherits CancellableComponent
@attribute [Authorize(Roles ="Doctor,Patient")]

<div class="row">
    <div class="col-sm">
        @if(Appointments != null)
        {
            <div class="row">
                <div class="d-flex align-items-center justify-content-start col">
                    @if (@Status != PageStatus.FirstPage && Status != PageStatus.OnlyPage)
                    {
                        <button class="btn btn-info" @onclick="SetPreviousPage">←Предидущая страница</button>
                    }
                    else
                    {
                        <button class="btn btn-info disabled">←Предидущая страница</button>
                    }
                </div>
                <div class="d-flex align-items-center justify-content-end col">
                    @if (@Status != PageStatus.LastPage && @Status != PageStatus.OnlyPage)
                    {
                        <button class="btn btn-info" @onclick="SetNextPage">Следующая страница→</button>
                    }
                    else
                    {
                        <a href="undifinite" class="btn btn-info disabled">Следующая страница→</a>
                    }
                </div>
            </div>
            @foreach (var appointment in Appointments)
            {
                <AppointmentCard Appointment="appointment">
                    <div class="col">
                        @if(!appointment.IsApproved)
                        {
                            <p>Appointment is not approved yet</p>
                        }
                        @if(appointment.IsApproved)
                        {
                            <ResultInfo AppointmentId="@appointment.Id"/>
                        }
                    </div>
                </AppointmentCard>
            }
        }
        else
        {
            <Loading />
        }
    </div>

</div>
