@page "/appointments"
@inherits CancellableComponent
@attribute [Authorize(Roles = "Admin")]

<div class="row">
    <div class="col-sm-3">
        <EditForm Model="FiltrationModel" OnValidSubmit="AppointmentsUpdateAsync">
            <div class="container">
                <div class="col ">
                    <label class="form-label">Фильтрация</label>
                    <FormInputText Label="Имя Доктора" Id="firstName" @bind-Value="FiltrationModel.DoctorFirstName" />
                    <FormInputText Label="Фамилия Доктора" Id="lastName" @bind-Value="FiltrationModel.DoctorLastName" />
                    <FormInputText Label="Отчество Доктора" Id="middleName" @bind-Value="FiltrationModel.DoctorMiddleName" />
                    <FormInputText Label="Сервис" Id="firstName" @bind-Value="FiltrationModel.ServiceName" />
                    <FormInputDate Label="Дата" Id="firstName" @bind-Value="FiltrationModel.Date" />
                    <FilterInputBool Label="Status" Id="status" @bind-Value="FiltrationModel.Status" />
                </div>
                <input type="submit" class="btn btn-primary align-self-center" value="Найти" />
            </div>
        </EditForm>
    </div>
    <div class="col-sm">
        @if(Appointments != null)
        {
            <div class="row">
                <div class="d-flex align-items-center justify-content-start col">
                    @if (@Status != PageStatus.FirstPage && Status != PageStatus.OnlyPage)
                    {
                        <button class="btn btn-info" @onclick="SetPreviousPage">←Предидущая страница</button>
                    }
                    else
                    {
                        <button class="btn btn-info disabled">←Предидущая страница</button>
                    }
                </div>
                <div class="d-flex align-items-center justify-content-end col">
                    @if (@Status != PageStatus.LastPage && @Status != PageStatus.OnlyPage)
                    {
                        <button class="btn btn-info" @onclick="SetNextPage">Следующая страница→</button>
                    }
                    else
                    {
                        <a href="undifinite" class="btn btn-info disabled">Следующая страница→</a>
                    }
                </div>
            </div>
            @foreach (var appointment in Appointments)
            {
                <AppointmentCard Appointment="appointment">
                    <div class="col">
                        <ChangeAppointmentDate Appointment="appointment" OnDateChanged="AppointmentsUpdateAsync" />
                        @if (!appointment.IsApproved)
                        {
                            <ApproveAppointment AppointmentId="appointment.Id" OnAppointmentApproved="AppointmentsUpdateAsync" />
                        }
                    </div>
                </AppointmentCard>
            }
        }
        else
        {
            <Loading />
        }
    </div>

</div>
