@inherits CancellableComponent
@inject IAppointmentManager AppointmentManager
@attribute [Authorize(Roles = "Admin")]
<div class="col mb-1">
    @if (IsLoading)
    {
        <Loading />
    }
    else
    {
        <DobleQuestionButton AgreeButtonValue=@_localizer.GetString(LocalizationType.AgreeButtonValue)
                         DisagreeButtonValue=@_localizer.GetString(LocalizationType.DisagreeButtonValue) 
                         PreviewButtonValue=@_localizer.GetString(LocalizationType.CancelAppointmentButtonValue)
                         OnSuccessAnswerClicked="CancelAsync" />
    }
</div>


