@inherits CancellableComponent
@inject IAppointmentManager AppointmentManager
@attribute [Authorize(Roles = "Doctor,Admin")]

<div class="col mb-1">
    @if (IsLoading)
    {
        <Loading />
    }
    else
    {

        <MudButton Color=Color.Primary Class="w-100" value="Edit date" OnClick="StartChanging" >
            @_localizer.GetString(LocalizationType.EditDateButtonValue)
        </MudButton>
    }
</div>



