.custom-bm-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: rgba(39,39,47,1);
}

.custom-blazored-modal {
    display: flex;
    flex-direction: column;
    background-color: rgba(39,39,47,1);
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 1.5rem;
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
    margin: 1.75rem;
}

.custom-size-small {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.custom-size-medium {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.custom-size-large {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.custom-size-extra-large {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.custom-size-automatic {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.custom-bm-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 2rem 0;
}

.custom-bm-title {
    margin-bottom: 0;
}

.custom-bm-close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}

.custom-position-topleft .custom-blazored-modal {
    margin-left: 1.75rem;
}

.custom-position-topright .custom-blazored-modal {
    margin-right: 1.75rem;
}

.custom-position-bottomleft .custom-blazored-modal {
    position: absolute;
    bottom: 0;
    left: 1.75rem;
}

.custom-position-bottomright .custom-blazored-modal {
    position: absolute;
    bottom: 0;
    right: 1.75rem;
}

.custom-position-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom-fade-in {
    animation: 300ms ease-out 0s ModalFadeIn;
}

.custom-fade-out {
    animation: 300ms ease-out 0s ModalFadeOut;
    opacity: 0;
}

@keyframes ModalFadeIn {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

@keyframes ModalFadeOut {
     0% {
         opacity: 1;
     }

     100% {
         opacity: 0;
     }
 }