
<MudPaper Square Elevation=3 Class="row p-3 mb-3 align-items-center">
    <div class="col">
        <p>Name: @Service.Name</p>
        <p>Price: @Service.Price</p>
    </div>
    <div class="col">
        <p>Category: @Service.CategoryName</p>
        <p>IsActive: @Service.Status</p>
    </div>
</MudPaper>
@code {
    [Parameter] public CreateServiceData Service { get; set; }
}
