<div class="row mb-3 align-items-center border">
    <div class="col">
        <p>Name: @Service.Name</p>
        <p>Price: @Service.Price</p>
    </div>
    <div class="col">
        <p>Category: @Service.CategoryName</p>
        <p>IsActive: @Service.Status</p>
    </div>
</div>
@code {
    [Parameter] public CreateServiceData Service { get; set; }
}
