@inject NavigationManager navigationManager
@inherits CancellableComponent

<MudPaper Square Elevation=3 Class="row p-3 mb-3 align-items-center clickable" @onclick="NavigateToInfoPage">
    @if (Specialization != null)
    {
        <div class="col">
            <MudText Typo="Typo.h4">@Specialization.Name</MudText>
        </div>
        <div class="col">
            <MudCheckBox Value="@Specialization.IsActive" Disabled />
        </div>
        @if (ChildContent != null)
        {
            @ChildContent
        }

    }
</MudPaper>


@code {
    [Parameter] public Specialization Specialization { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private void NavigateToInfoPage()
    {
        navigationManager.NavigateTo($"/specializations/{Specialization.Id}");
    }
}