@inject NavigationManager navigationManager
@inherits CancellableComponent

<div class="row mb-3 bg-success bg-opacity-10" @onclick="NavigateToInfoPage">
    @if (Office != null)
    {
        <div class="col">
            <div>Address: @Office.Address</div>
            Status: <input type="radio" checked="@Office.Status" class="disabled" />
        </div>
        <div class="col">
            <div>OfficeNumber: @Office.OfficeNumber</div>
            <div>PhoneNumber: @Office.PhoneNumber</div>
        </div>
        @if (ChildContent != null)
        {
            @ChildContent
        }

    }
</div>


@code {
    [Parameter] public Office Office { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private void NavigateToInfoPage()
    {
        navigationManager.NavigateTo($"/offices/{Office.Id}");
    }
}