@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Приветствуем вас!
        <a href="/logout">Выйти</a>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-primary m-2" @onclick="OpenLoginModal">Войти</button>
        <button class="btn btn-primary m-2" @onclick="OpenRegisterModal">Зарегистрироватся</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] public IModalManager Modal { get; set; }

    private void OpenLoginModal()
    {
        Modal.Show<Login>("Sign in");
    }

    private void OpenRegisterModal()
    {
        Modal.Show<Register>("Sign up");
    }
}

