@page "/patients/delete"
@attribute [Authorize(Roles = "Patient")]
@inherits CancellableComponent
@inject IPatientManager PatientManager
@inject AuthenticationStateHelper AuthHelper
@inject NavigationManager Navigator

<p>Do you really want to delete? Data will be lost.</p>
<MudButton OnClick="DeleteAsync" Color="Color.Error" Variant="Variant.Filled">Yes</MudButton>
<MudButton OnClick="Cancel" Color="Color.Primary" Variant="Variant.Filled">No</MudButton>

@code
{
    private async Task DeleteAsync()
    {
        var email = await AuthHelper.GetEmailAsync();
        var patient = await PatientManager.GetByEmailAsync(email, _cts.Token);
        await PatientManager.DeleteAsync(patient.Id, _cts.Token);
        Navigator.NavigateTo("/", true);
    }
    private void Cancel()
    {
        Navigator.NavigateTo("/");
    }
}