@page "/patients/delete"
@attribute [Authorize(Roles = "Patient")]
@inherits CancellableComponent
@inject IPatientManager PatientManager
@inject AuthenticationStateHelper AuthHelper
@inject NavigationManager Navigator

<p>@_localizer.GetString(LocalizationType.AccountDeleteText)</p>
<button @onclick="DeleteAsync">@_localizer.GetString(LocalizationType.AgreeButtonValue)</button>
<button @onclick="Cancel">@_localizer.GetString(LocalizationType.DisagreeButtonValue)</button>

@code
{
    private async Task DeleteAsync()
    {
        var email = await AuthHelper.GetEmailAsync();
        var patient = await PatientManager.GetByEmailAsync(email, _cts.Token);
        await PatientManager.DeleteAsync(patient.Id, _cts.Token);
        Navigator.NavigateTo("/");
    }
    private void Cancel()
    {
        Navigator.NavigateTo("/");
    }
}