@inject NavigationManager NavigationManager
@inherits CancellableComponent


<div class="row mb-3 align-items-center">
    @if (Patient != null)
    {
        if (Patient.Info.Photo != null)
        {
            <div class="col">
                @if (_image != null)
                {
                    <ImageFromByteArray Image="_image.Content" ImageType="_image.ContentType" IsSvgImage="false" height="200" />
                }
                else
                {
                    <Loading />
                }
            </div>
        }
        <div class="col-sm m-lg-3">
            <div>@Patient.Info.GetFullName()</div>
            <div>@Patient.PhoneNumber</div>
            <div>@Patient.Info.BirthDay.ToShortDateString()</div>
        </div>
        <AuthorizeView Roles="Admin">
            <NotAuthorized Context="editDate">
                <div class="col-sm">
                    <button @onclick="NavigateToHistoryPage" class="btn btn-info">History</button>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        @if (ChildContent != null)
        {
            @ChildContent
        }

    }
</div>


@code {
    [Parameter] public PatientDTO Patient { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    private Image? _image;
    protected async override Task OnInitializedAsync()
    {
        _image = Patient.Info.Photo != null? await Patient.Info.Photo : null;
    }
    private void NavigateToHistoryPage()
    {
        NavigationManager.NavigateTo($"/patients/{Patient.Id}/appointmentsHistory");
    }
}