@page "/patients/home"
@attribute [Authorize(Roles = "Patient")]
@inherits CancellableComponent

@if (!IsLoading)
{
    <div class="container p-5">
        <PatientCard Patient="@Patient">
            <div class="col">
                <MudButton Color="Color.Info" Variant=Variant.Filled Class="w-100" OnClick="NavigateToEditPage">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    <span class="ml-2">
                        Edit profile info
                    </span>
                </MudButton>
                <MudButton Color="Color.Error" Variant=Variant.Filled Class="w-100" OnClick="NavigateToDeletePage">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" />
                    <span class="ml-2">
                        Delete profile
                    </span>
                </MudButton>
            </div>
        </PatientCard>
        <MudText Typo="Typo.h6">Appointments history</MudText>
    </div>
    <div class="container p-5 text-center">

        @if (Appointments != null)
        {
            @foreach (var appointment in Appointments)
            {
                <AppointmentCard Appointment="appointment" />
            }

            @if (Appointments.Count() >= Page.Size)
            {
                <MudButton Color="Color.Info" @onclick="NavigateToHistoryPage">View all history</MudButton>
            }
        }
        else
        {
            <Loading />
        }

    </div>
}
else
{
    <Loading />
}