@page "/patients/{PatientId:guid}"
@inherits CancellableComponent

@inject IPatientManager PatientManager;

@if (patient != null)
{
    <div class="container p-5">
        <PatientCard Patient="patient" />
    </div>
    <div class="container p-5 text-center">
        <MudText Typo="Typo.h6">@_localizer.GetString(LocalizationType.Schedule)</MudText>
        @if (Appointments != null)
        {
            @foreach (var appointment in Appointments)
            {
                <AppointmentCard Appointment="appointment" />
            }

            @if (Appointments.Count() >= Page.Size)
            {
                <MudButton Color="Color.Info" @onclick="NavigateToHistoryPage">View all history</MudButton>
            }
        }
        else
        {
            <Loading />
        }

    </div>
}

