@inject IStorageService Storage;
@inject IStringLocalizer<Localization> Loc
@inject NavigationManager NavManager;

<div class="w-25 mx-4">
    <MudSelect @bind-Value="Culture" Label=@Loc.GetString(LocalizationType.CultureMessage)>
        @foreach (var culture in cultures)
        {
            <MudSelectItem Value="@culture">@culture.Name</MudSelectItem>
        }
    </MudSelect>
</div>

@code {
    CultureInfo[] cultures = new[]
    {
        CultureInfo.GetCultureInfo("en-US"),
        CultureInfo.GetCultureInfo("ru")
    };
    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                Storage.SetStringAsync("Culture", value.Name);
                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
            }
        }
    }
}

