@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<MudThemeProvider IsDarkMode=true  Theme="_currentTheme"/>
<MudDialogProvider />
<MudSnackbarProvider />
@*<ErrorBoundary @ref="errorBoundary">
    <ChildContent>*@
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay />
        </div>

        <article class="content px-4" style="height:90%">
            @Body
        </article>
    </main>
</div>
@*    </ChildContent>
    <ErrorContent Context="ex">
        @{
            NavigateToError(ex.Message);
        }
    </ErrorContent>
</ErrorBoundary>*@
@code
{
    //[CascadingParameter] public IModalService Modal { get; set; }
    //private ErrorBoundary? errorBoundary;
    //private async Task NavigateToError(string message)
    //{
    //    var options = new ModalOptions()
    //        {
    //            HideCloseButton = false
    //        };

    //    var parameters = new ModalParameters();
    //    parameters.Add(nameof(Error.Message), message);
    //    var modal = Modal.Show<Error>("Error", parameters, options);
    //    await modal.Result;

    //    errorBoundary?.Recover();
    //}

    private readonly MudTheme _currentTheme = new()
        {
            Palette = new PaletteLight
            {
                Primary = "#0A7BCF",
                Secondary = "#4CAF50",
                Info = "#64a7e2",
                Success = "#2ECC40",
                Warning = "#FFC107",
                Error = "#FF0000",
                AppbarBackground = "#212121",
                TextPrimary = "#0A7BCF",
                TextSecondary = "#4CAF50",
                // more color properties
            },
            PaletteDark = new PaletteDark
            {
                Primary = "#6585e0",
                Secondary = "#607D8B",
                Info = "#a4c2dd",
                Success = "#2ECC40",
                Warning = "#dc2d7e",
                Error = "#de2000",
                AppbarBackground = "#121212",
                TextPrimary = "#E0E0E0",
                TextSecondary = "#BDBDBD",
                // more color properties
            }
        };
}