<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ClientsWebApp.Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/appointments/create">
                <span class="oi oi-people" aria-hidden="true"></span> /appointments/create
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="patients">
                <span class="oi oi-people" aria-hidden="true"></span> Patients
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doctors">
                <span class="oi oi-people" aria-hidden="true"></span> Doctors
            </NavLink>
        </div>


        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="appointments">
                <span class="oi oi-people" aria-hidden="true"></span> Appointments
            </NavLink>
        </div>
                        <div class="nav-item px-3">
            <NavLink class="nav-link" href="offices">
                <span class="oi oi-people" aria-hidden="true"></span> Offices
            </NavLink>
        </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/specializations">
                        <span class="oi oi-plus" aria-hidden="true"></span> Specializations
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="receptionists">
                        <span class="oi oi-people" aria-hidden="true"></span> Receptionists
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
