@inherits CancellableComponent;
@inject ISpecializationService SpecializationService

<div class="row mb-3 align-items-center border">
    <div class="col">
        <p>Name: @Service.Name</p>
        <p>Price: @Service.Price</p>
    </div>
    <div class="col">
        @if (Specialization == null)
        {
            <p>Specialization: Loading...</p>
        }
        else
        {
            <p>Specialization: @Specialization.Name</p>
        }
    </div>
</div>
@code {
    [Parameter] public Service Service { get; set; }

    private Specialization? Specialization { get; set; }
    protected async override Task OnInitializedAsync()
    {
        Specialization = Service.Specialization;
        if (Specialization == null)
        {
            Specialization = await SpecializationService.GetByIdAsync(Service.SpecializationId, _cts.Token);
        }
    }
}
