@inherits CancellableComponent;
@inject ISpecializationManager SpecializationManager

<MudPaper Square Elevation=3 Class="row p-3 mb-3 align-items-center">
    <div class="col">
        <p>Name: @Service.Name</p>
        <p>Price: @Service.Price</p>
    </div>
    <div class="col">
        @if(!HideSpecialization)
        {
            <p>Specialization: @Specialization?.Name</p>
        }
        <p>Category: @Service.Category?.Name</p>
        <p>IsActive: @Service.Status</p>
    </div>
    <AuthorizeView Roles="Admin">
        <div class="col">
            <MudButton Color=Color.Primary Variant="Variant.Filled" OnClick="ToEditPage">Edit</MudButton>
        </div>
    </AuthorizeView>
</MudPaper>
@code {
    [CascadingParameter] public IModalService Modal { get; set; }
    [Parameter] public Service Service { get; set; }
    [Parameter] public bool HideSpecialization { get; set; } = false;

    private Specialization? Specialization { get; set; }
    protected async override Task OnInitializedAsync()
    {
        Specialization = Service.Specialization;
        if (Specialization == null)
        {
            Specialization = await SpecializationManager.GetByIdAsync(Service.SpecializationId, _cts.Token);
        }
    }

    private void ToEditPage()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(EditService.ServiceId), Service.Id);
        parameters.Add(nameof(EditService.SpecializationId), Specialization.Id);
        parameters.Add(nameof(EditService.OldService), Service);
        Modal.Show<EditService>("Edit service", parameters);
    }
}
